@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');

:root{
    --cor-primaria: #000;
    --cor-secundaria: #F1B4BB;
    --text-color: #FDF0F0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--text-color);
}

header{
    display: flex;
    align-items: center;
    padding-top: 2%;
    width: 100%;
}

.foto__perfil{
    margin-right: 8px;
    width: 10%;
}

h1{
    font-family: 'JetBrains Mono', monospace;
    font-weight: lighter;
    color: var(--text-color);
}

.link__home{
    text-decoration: none;
    color: var(--text-color);
}

.section__header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.section__menu{
    display: flex;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
    text-decoration: none;
    color: var(--text-color);
    gap: 30px;
    width: 50%;
    justify-content: center;
}

.contatos__menu{
    text-decoration: none;
    color: var(--text-color);
}

.contatos__menu:hover{
    color: var(--cor-secundaria);
    font-weight: 600;
}

.projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projetos h2{
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 2rem;
}

.detalhes__projetos{
    width: 1024px;
    height: 320px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.detalhes__projetos__projeto{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1rem;
    padding: 2px;
    gap: 12px;
}

.miniatura__projeto{
    width: 210px;
    height: 160px;
    padding: 5px;
}

.link__github__deploy{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color);
    width: 120px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
    padding: 8px 12px;
    text-align: center;
}

.link__github__deploy:hover{
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

.link__maisProjetos{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-color);
    width: 180px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 14px;
    text-align: center;
}

.link__maisProjetos:hover{
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

.footer__infos{
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
}

#icone-email{
    width: 45px;
    height: 25px;
    display: flex;
    flex-direction: row;
    margin: 1px;
}

.footer__email-container{
    display: flex;
    align-items: center;
}

@media(max-width: 1200px){
    
    header{
        box-sizing: border-box;
        padding: 4% 5% 4% 5%;
        align-items: center;
        /* gap: 5%; */
    }
    
    .section__header h1{
        font-size: 1.6rem;
    }
    
    .contatos__menu{
        font-size: 1rem;
        text-align: center;
    }
    
    /* .projetos{
        display: flex;
        flex-direction: column;
        gap: 15%;
    } */
    
    .detalhes__projetos{
        width: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .detalhes__projetos__projeto{
        width: 220px;
        margin: 10% 0%;
    }

    .footer__infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3% 0%;
    }
}

@media(max-width: 670px){

    header{
        gap: 5%;
    }

    a.link__home{
        font-size: 1.6rem;
    }

    .foto__perfil{
        width: 25%;
    }

    .section__header h1{
        font-size: 1.3rem;
    }

    .detalhes__projetos{
        width: auto;
        height: 100%;
    }

    .detalhes__projetos__projeto{
        width: 220px;
        margin: 5% 0%;
    }

    footer.footer__infos {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}